# Summarize the different split approaches for all datasets

- [x] Read in all datasets
- [x] Bring into one table
- [x] Format the output

In [1]:
# imports
import pandas as pd
import helpers_summarize

## What is the average rank of the approach with **time-sorted** users with its std?

In [2]:
# load data
df = helpers_summarize.load_approach_tables(path='../../results/tables/approaches/sorted_users/single_dataset')


# summarize and print
results = helpers_summarize.prepare_results(df)
results.transpose().to_csv('../../results/tables/approaches/sorted_users/approaches_ranking.csv')
results.transpose()

,time_cut,bl_user_based_last,user_cut,bl_user_based_all,average_user,user_wise,bl_assessment_based_last,bl_assessment_based_all
average_rank,2.29,3.00,3.14,3.29,4.14,5.17,6.86,7.71
average_rank_std,0.95,1.91,1.07,2.43,1.21,1.33,0.69,0.49

In [4]:
# load columns mapping
dic = helpers_summarize.load_col_paper_mapping()
for old, new in dic.items():
    df.columns = df.columns.str.replace(old, new)
df.to_csv('../../results/tables/approaches/sorted_users/raw_results.csv', index='approaches')
df.dropna().transpose()

                user_cut  time_cut  average_user
cc_f1           0.671760  0.675498      0.614925
cc_std          0.015335  0.007859      0.026244
cc_val-mean     0.753738  0.766705      0.686662
chs_f1          0.523159  0.546900      0.400294
chs_std         0.058617  0.011135      0.069379
chs_val-mean    0.558081  0.568259      0.412770
chy_f1          1.000000  1.000000      1.000000
chy_std         0.000000  0.000000      0.000000
chy_val-mean    1.000000  1.000000      1.000000
chp_f1          0.518137  0.530263      0.472484
chp_std         0.038399  0.014146      0.040137
chp_val-mean    0.501204  0.511142      0.445465
cha_f1          0.642104  0.644963      0.557803
cha_std         0.021119  0.015402      0.033490
cha_val-mean    0.667725  0.690549      0.616542
tyt_f1          0.623555  0.628591      0.514873
tyt_std         0.014523  0.004451      0.045491
tyt_val-mean    0.575339  0.591450      0.468816
uniti_f1        0.490084  0.501147      0.419401
uniti_std       0.027251  0.005123      0.031302
uniti_val-mean  0.529555  0.548543      0.502627